* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  min-height: 40vh;
  background: url(img/2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 90%;
}
.nav {
  min-height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  width: 40%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
